.idea/
workspace.code-workspace
ingress-azure/camunda-values-azure.yaml
ingress-aws/camunda-values-aws.yaml
ingress-nginx/camunda-values-nginx.yaml
azure/camunda-values-azure.yaml
azure/ingress/nginx/tls/camunda-values-nginx-tls.yaml
azure/ingress/nginx/tls/dns/camunda-values-nginx-tls.yaml
azure/ingress/nginx/tls/secure-zeebe-ingress/camunda-values-nginx-tls.yaml
azure/ingress/nginx/tls/camunda-platform
google/ingress/nginx/camunda-values-ingress.yaml
google/ingress/nginx/tls/camunda-values-nginx.yaml
google/keycloak/camunda/camunda-values-ext-keycloak.yaml
google/external-keycloak/keycloak-secrets.yaml
aws/cluster.yaml
aws/camunda-values-aws.yaml
aws/ebs-csi-driver-trust-policy.json
aws/ingress/nginx/tls/cluster.yaml
aws/ingress/nginx/tls/camunda-values-nginx-aws.yaml
kind/ingress/nginx/tls/camunda-values-nginx-localhost.yaml
kind/camunda-values-kind.yaml
kind/ingress/nginx/camunda-values-kind.yaml
cfssl/csr.yaml
cfssl/certs
keycloak/keycloak-secrets.yaml
keycloak/keycloak-values.yaml
**/oauth2-values.yaml
**/camunda-values-nginx-fqdn.yaml

