.idea/
workspace.code-workspace
ingress-azure/camunda-values-azure.yaml
ingress-aws/camunda-values-aws.yaml
ingress-nginx/camunda-values-nginx.yaml
azure/camunda-values-azure.yaml
azure/ingress/nginx/tls/camunda-values-nginx-tls.yaml
azure/ingress/nginx/tls/dns/camunda-values-nginx-tls.yaml
azure/ingress/nginx/tls/secure-zeebe-ingress/camunda-values-nginx-tls.yaml
azure/ingress/nginx/tls/camunda-platform
azure/ingress/nginx/tls/camunda-values-nginx-all.yaml
google/ingress/nginx/camunda-values-ingress.yaml
google/ingress/nginx/tls/camunda-values-nginx.yaml
google/ingress/nginx/tls/camunda-values-nginx-all.yaml
google/keycloak/camunda/camunda-values-ext-keycloak.yaml
google/external-keycloak/keycloak-secrets.yaml
aws/cluster.yaml
aws/camunda-values-aws.yaml
aws/ebs-csi-driver-trust-policy.json
aws/ingress/nginx/tls/cluster.yaml
aws/ingress/nginx/camunda-values-ingress.yaml
aws/ingress/nginx/tls/camunda-values-nginx-aws.yaml
aws/ingress/nginx/tls/camunda-values-ingress-tls-aws.yaml
kind/ingress/nginx/tls/camunda-values-nginx-localhost.yaml
kind/camunda-values-kind.yaml
kind/ingress/nginx/camunda-values-kind.yaml
cfssl/csr.yaml
cfssl/certs
keycloak/keycloak-secrets.yaml
keycloak/keycloak-values.yaml
**/oauth2-values.yaml
google/multi-region/active-active/generated
**/operate-configmap-importer-archiver.yaml
**/operate-configmap-webapp.yaml
**/operate-deployment-importer-archiver.yaml
**/operate-deployment-webapp.yaml
**/operate-service-webapp.yaml
**/operate-operate-ingress.yaml
**/operate-camunda-ingress.yaml
**/tasklist-configmap-importer-archiver.yaml
**/tasklist-configmap-webapp.yaml
**/tasklist-deployment-importer-archiver.yaml
**/tasklist-deployment-webapp.yaml
**/tasklist-service-webapp.yaml
**/tasklist-tasklist-ingress.yaml
**/tasklist-camunda-ingress.yaml
**/operate-ingress.yaml
**/camunda-values-openshift.yaml
**/certs/
**/make.log
**/gcs_backup_key.json
kind/manual-setup/8.8/SSL/myCA.srl
kind/manual-setup/8.8/SSL/myCA.key
kind/manual-setup/8.8/SSL/myCA.crt
kind/manual-setup/8.8/SSL/camunda-local-tls.key
kind/manual-setup/8.8/SSL/camunda-local-tls.csr
kind/manual-setup/8.8/SSL/camunda-local-tls.crt
**/.env
**/cluster.yaml
**/ebs-csi-driver-trust-policy.json
aws/eks/ebs-csi-driver-trust-policy.json
**/camunda-values.yaml
config.mk