# Chart values for the Camunda Platform 8 Helm chart.
# This file deliberately contains only the values that differ from the defaults.
# For changes and documentation, use your favorite diff tool to compare it with:
# https://github.com/camunda/camunda-platform-helm/blob/main/charts/camunda-platform/values.yaml

global:

  security:
    authentication:
      method: oidc

  identity:
    auth:

      enabled: true
      publicIssuerUrl: KEYCLOAK_URL/realms/REALM
      issuerBackendUrl: http://camunda-keycloak/realms/REALM
      authUrl: KEYCLOAK_URL/realms/REALM/protocol/openid-connect/auth
      tokenUrl: http://camunda-keycloak/realms/REALM/protocol/openid-connect/token
      jwksUrl: http://camunda-keycloak/realms/REALM/protocol/openid-connect/certs

      identity:
        redirectUrl: http://localhost:8084/identity

      orchestration:
        secret:
          existingSecret: camunda-credentials
          existingSecretKey: identity-orchestration-client-token
        redirectUrl: http://localhost:8080

      optimize:
        secret:
          existingSecret: camunda-credentials
          existingSecretKey: identity-optimize-client-token
        redirectUrl: http://localhost:8082/optimize

      console:
        secret:
          existingSecret: camunda-credentials
          existingSecretKey: identity-console-client-token
        redirectUrl: http://localhost:8083/console

    keycloak:
        url:
          protocol: http
          host: camunda-keycloak
          port: 80
        contextPath: /auth
        realm: /realms/REALM
        auth:
          adminUser: KEYCLOAK_ADMIN_USERNAME
          existingSecret: "camunda-credentials"
          existingSecretKey: "identity-keycloak-admin-password"

identity:
  enabled: true
  firstUser:
    secret:
      existingSecret: "camunda-credentials"
      existingSecretKey: "identity-first-user-password"
  env:
    - name: KEYCLOAK_REALM
      value: REALM

identityPostgresql:
  enabled: true
  auth:
    existingSecret: camunda-credentials
    secretKeys:
      userPasswordKey: identity-postgresql-user-password
      adminPasswordKey: identity-postgresql-admin-password

identityKeycloak:
  enabled: true
  auth:
    adminUser: KEYCLOAK_ADMIN_USERNAME
    existingSecret: camunda-credentials
    passwordSecretKey: identity-keycloak-admin-password
  postgresql:
    auth:
      existingSecret: camunda-credentials
      secretKeys:
        userPasswordKey: identity-postgresql-user-password
        adminPasswordKey: identity-postgresql-admin-password

orchestration:
  enabled: false
  multitenancy:
    api:
      enabled: true
    checks:
      enabled: true

connectors:
  enabled: false

webModeler:
  enabled: false

webModelerPostgresql:
  enabled: false

optimize:
  enabled: false

console:
  enabled: false